@charset "utf-8";


html, body {
    font-family: 'Apple SD Gothic Neo','Malgun Gothic','ë§‘ì€ê³ ë”•','Lato','Noto Sans KR',sans-serif;
    font-family: 'Noto Sans KR',sans-serif;
    font-size: 14px;
}


